.header-flex {
	display: flex;
	justify-content: space-around;
}
.header-bg {
	background-image: url('../Images/banner-image.jpg');
	width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.nav-li{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 50px;
}
.nav-ul{
    display: flex;
    margin-top: 32px;
}
.logo{
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 30px;
}
.title{
    position: absolute;
	top: 50%;
    font-size: 14px;
}
a{
    color: white;
}
.title{
    font-size: 42px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    margin-left: 139px;
}
.text-area{
    width: 444px;
    margin-top: 50px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    width: 1089px;
    margin: 0 auto;
    margin: 90px;;
}
.section1-h6{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #5863F8;
    width: 70px;
    height: 20px;
}
.section1-h1{
    font-size: 41px;
    width: 373px;
    height: 115px;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
.paragraph-1{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 16px;
}
.paragraph-2{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    margin-bottom: 20px;
}
.read-more{
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    width: 184px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    background-color: #5863F8;
    cursor: pointer;
}
.photo-area img{
    width: 536px;
}