.header-flex {
	display: flex;
	justify-content: space-around;
}
.container{
    max-width: 1089px;
	width: 100%;
	padding-left: 140px;
}
.header-bg {
	background-image: url('../Images/banner-image.jpg');
	max-width: 100%;
	height: 324px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
}
.active {
	color: #5863F8;
	font-size: 12px;
	font-family: 'Poppins';
	text-transform: uppercase;
    margin-left: 230px;
}
.nav-li{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 12px;
    margin-left: 50px;
}
.nav-ul{
    display: flex;
    margin-top: 32px;
}
.logo{
    font-family: 'Poppins';
    font-weight: bold;
    margin-top: 30px;
}
.burger-icon{
    display: none;
}
.title{
    position: absolute;
	top: 50%;
    margin-left: 139px;
    font-size: 14px;
}
a{
    color: white;
}
.title{
    font-size: 42px;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
.two-divs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.text-area{
    width: 444px;
    margin-top: 50px;
}
.section-1{
    display: flex;
    justify-content: space-between;
    width: 1089px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
}
.section1-h6{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #5863F8;
    width: 70px;
    height: 20px;
}
.section1-h1{
    font-size: 41px;
    width: 373px;
    height: 115px;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
.paragraph-1{
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    margin-top: -15px;
    margin-bottom: 10px;
    font-size: 16px;
}
.paragraph-2{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    margin-bottom: 20px;
}
.read-more{
    font-family: 'Poppins';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    width: 184px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    background-color: #5863F8;
    cursor: pointer;
}
.photo-area img{
    width: 536px;
}
.section-2{
    background-image: url(../Images/Group\ 13.jpg);
	width: 100%;
    height: 612px;
    background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
    padding-top: 10px;
}
.section2-div{
    width: 1088px;
    margin: 0 auto;
}
.section2-h6{
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: bold;
    color: #5863F8;
    width: 70px;
    height: 20px;
    margin-top: 92px;
}
.section2-h1{
    font-size: 41px;
    width: 376px;
    height: 115px;
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    color: white;
}
.four-divs{
    width: 1088px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.div-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    background-color: #FFFFFF;
}
.img-box{
    width: 59px;
    height: 58px;
    background-color:#5863F8;
    display: flex; 
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
}
.section2-h4{
    margin: 0 auto;
    margin-top: 15px;
    width: 160px;
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    text-align: center;
}
.p-3{
    margin: 0 auto;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    color: #B1B1B1;
    width: 221px;
    width: 221px;
    height: 62px;
    margin-top: 20px;
}
.inside-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}